[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"discord.py" = "*"
apscheduler = "*"
python-dateutil = "*"
auraxium = "*"
asyncio-atexit = "*"
matplotlib = "*"
python-dotenv = "*"
pynacl = "*"
discord = "*"

[dev-packages]

[requires]
python_version = "3.10"
